* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #a2c5ac; /* Set background color */
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    background-color: #a2c5ac;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 70px;
    padding-left: 25px;
}

.title {
    font-size: 1.5em;
    color: #000000;
}

nav {
    margin-left: auto;
    padding-right: 25px;
}

    nav ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        height: 100%;
        white-space: nowrap;
    }

        nav ul li {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

            nav ul li a {
                color: #000000;
                text-decoration: none;
                font-size: 1em;
                display: block;
                padding: 10px;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                transition: background-color 0.3s ease, color 0.3s ease;
            }

                nav ul li a:hover {
                    background-color: #878e99;
                }

                nav ul li a.active {
                    background-color: #878e99;
                }

.content {
    background-color: transparent;
    margin-top: 0;
    border-radius: 0;
    padding: 40px;
    min-height: calc(100vh - 100px);
}

.job-form h2 {
    margin-bottom: 20px;
}

.refresh-button {
    margin-bottom: 20px;
    width: 100%;
    padding: 12px;
    background-color: #7f6a93;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

    .refresh-button:hover {
        background-color: #878e99;
        transform: scale(1.05);
    }

.table-container {
    overflow-x: auto;
}

#employeeJsonTable {
    width: 100%;
    border-collapse: collapse;
}

    #employeeJsonTable th,
    #employeeJsonTable td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
    }

    #employeeJsonTable th {
        background-color: #a2c5ac;
        color: #000000;
    }

    #employeeJsonTable tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    #employeeJsonTable tr:hover {
        background-color: #e0e0e0;
    }
