body {
    background: #b08f8f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    /* Set background color */
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

    li a.active {
        background-color: #04AA6D;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

.wrapper {
    max-width: 100%;
    background-color: #ffffff;
    /* Set background color for wrapper */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 70px;
    padding-left: 25px;
    margin-left: 15%;
    width: 85%;
    padding-right: 0;
}

.title {
    font-size: 1.5em;
    color: #000000;
}

nav {
    margin-left: auto;
    /* Push nav to the right */
    padding-right: 25px;
    padding-left: 25px;
}

    nav ul {
        background-color: #ffffff;
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        height: 100%;
        white-space: nowrap;
    }

        nav ul li {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

            nav ul li a {
                color: #000000;
                text-decoration: none;
                font-size: 1em;
                display: block;
                padding: 10px;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                transition: background-color 0.3s ease, color 0.3s ease;
            }

                nav ul li a:hover {
                    background-color: #878e99;
                }

                nav ul li a.active {
                    background-color: #878e99;
                }

.tableColour {
    background-color: white;
    border-radius: 25px;
    filter: drop-shadow(4px 6px 10px #e6e6e6);
}

.table-fixed {
    margin-left: 25rem;
    margin-top: 10rem;
}

    .table-fixed thead, .table-fixed thead > th {
        background: #4d7275;
        color: #fff;
    }

    .table-fixed tbody tr td {
        background: #fff;
    }

    .table-fixed > thead > tr > th {
        border: 0 !important;
    }

    .table-fixed > tbody > tr > td:last-child {
        border-right: 0;
    }

    .table-fixed tbody td, .table-fixed thead > tr > th {
        float: left;
        font-size: 14px;
        padding-left: 20px !important;
    }

    .table-fixed .col {
        width: 25%;
    }

    .table-fixed tbody {
        display: block;
        height: 300px;
        overflow-y: auto;
    }

    .table-fixed tr {
        display: block;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
}

.scrollable-table {
    overflow-y: auto;
    height: 200px;
}

table thead {
    background-color: #1f2421;
    color: rgb(255, 255, 255);
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.action-buttons {
    display: flex;
    gap: 10px;
    padding: 25px;
}

    .action-buttons button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #003366;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .action-buttons button:hover {
            background-color: #00509e;
        }

.contentclass {
    display: inline-block;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    width: 100%;
    margin-left: 25px;
}

.content {
    display: flex;
    padding-top: 10px;
    margin-left: 15%;
    background-color: #e9e9e9;
    margin-top: 0;
    border-radius: 0;
    min-height: calc(100vh - 100px);
}
/* Side bar */
.sidebar-menu {
    list-style-type: none;
    padding: 0;
    width: 15%;
    background-color: #1f2421;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-top: 0;
}

.sidebar-menu-item a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
}

.sidebar-menu-postion {
    margin-top: 0%;
}
