#container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.425);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    overflow-y: auto; 
    padding: 20px; 
}


    #container:target {
        visibility: visible;
    }

#container2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.425);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    overflow-y: auto;
    padding: 20px;
}


    #container2:target {
        visibility: visible;
    }
.contentclass {
    display: inline-block;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    width: 95%;
    margin-left: 25px;
    height:50%;
}

.content {
    display: flex;
    padding-top: 10px;
    margin-left: 15%;
    background-color: #e9e9e9;
    margin-top: 0;
    border-radius: 0;
    min-height: calc(100vh - 100px);
}

.filter-btn-container button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

    .filter-btn-container button:hover {
        background-color: #6290c8ac
    }

.job-form input, .job-form select, .job-form textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.job-form textarea {
    resize: vertical;
    min-height: 100px;
}
/* Modal styling */
.reveal-modal {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    margin: 100px auto;
    position: relative;
    overflow-y: auto;
    height: 800px
}

.form-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.form-input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.close-button {
    background-color: white;
    padding: 0px;
    margin: 0px;
}


.submit-button:hover {
    background-color: #0056b3;
}

.close-modal {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

    .close-modal:hover {
        color: black;
    }