

/* Body styling with responsive grid for graph containers */
.body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px; /* Increased space between the graph containers */
    padding: 20px;
    height: calc(100vh - 90px); /* Adjusted height to account for header */
    overflow-y: auto;
}

/* New title container */
.graph-title-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between title and container */
}

/* Align titles to the left */
.graph-title {
    font-size: 1.5em; /* Title size */
    margin-bottom: 0; /* Remove bottom margin */
    text-align: left; /* Align title to the left */
    color: #333; /* Title color */
}

/* Graph container styles */
.graph-container {
    position: relative; /* Positioning context for absolute elements */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Allow stacking of title and content */
    align-items: center; /* Center align items */
    justify-content: flex-start; /* Align items to the start */
    font-size: 1.2em;
    color: #555;
    height: 100%; /* Ensures each container fills its grid cell */
    padding: 0; /* Remove padding to allow SVG to fill container */
}

/* Bar graph styles */
.bar-graph {
    width: 80%; /* Set width for bar graph */
    height: 100%; /* Full height of the container */
}

    .bar-graph rect {
        fill: #2980b9; /* Bar color */
    }

    /* Text styles for column titles */
    .bar-graph text {
        font-size: 2px; /* Set font size to 10px */
        fill: #333; /* Text color */
    }
.Content {
    display: flex;
    padding-top: 10px;
    margin-left: 15%;
    background-color: #e9e9e9;
    margin-top: 0;
    border-radius: 0;
    min-height: calc(100vh - 100px);
    padding: 10px;
}