/* Main job container */
.JobClass {
    display: flex;
    flex-direction: column; /* Ensures elements inside stack vertically */
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    width: 90%;
    margin: 25px auto; /* Centers the container */
    height: auto; /* Allows the height to adjust dynamically */
}

/* Filter button styling */
.filter-btn-container button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

    .filter-btn-container button:hover {
        background-color: #6290c8ac;
    }

/* Form styling */
.job-form input,
.job-form select,
.job-form textarea {
    width: 100%; /* Full width inside container */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box; /* Ensures padding doesn’t affect width */
}

.job-form textarea {
    resize: vertical;
    min-height: 100px;
}

/* Job content layout */
.JobContent {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    margin-left: 25%;
    background-color: #e9e9e9;
    min-height: calc(100vh - 100px);
    border-radius: 8px;
}

/* Sidebar layout */
.sidebar-menu {
    list-style-type: none;
    padding: 0;
    width: 15%;
    background-color: #1f2421;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar-menu-item a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Form styling adjustments */
.job-form {
    display: block;
    width: 20%; /* Fixed width */
    padding: 15px;
    margin: 15px;
}

/* Modal styling */
#container, #container2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.425);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

    #container:target, #container2:target {
        visibility: visible;
    }

.reveal-modal {
    max-height: 90%;
    width: 60%;
    background: white;
    overflow-y: auto;
    border-radius: 8px;
    padding: 20px;
}

/* Button styling */
.submit-button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .submit-button:hover {
        background-color: #0056b3;
    }

/* Close modal link */
.close-modal {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

    .close-modal:hover {
        color: black;
    }
