body {
    background-color: #f4f4f4;
    margin: 0; /* Remove default body margin */
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    height: 100vh; /* Full viewport height */
}

.headBanner {
    background-color: white;
    height: 100px; /* Fixed height of 100 pixels */
    position: relative; /* Ensure it positions correctly within the flow */
    z-index: 1000; /* Set a high z-index to ensure it appears on top */
}

h1 {
    color: #333;
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add padding for spacing */
}

h4 {
    color: #666;
    margin: 0; /* Remove default margin */
    padding: 5px; /* Add padding for spacing */
}

nav {
    margin-top: 10px; /* Add spacing between the header text and the navigation */
}

ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for the navigation items */
    justify-content: space-around; /* Space links evenly */
}

li {
    flex: 1; /* Each link will take equal space */
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #444; /* Add hover effect for better UX */
        }

.recruitmentForm {
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    top: 20px; /* Adjust this to create space below the header */
}

.jobSearchForm {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    input[type="text"]:hover,
    select:hover,
    input[type="text"]:focus,
    select:focus {
        border-color: #007BFF;
        outline: none;
    }

/* Body styles */
.content {
    flex: 1; /* This will allow the body to take the remaining space */
    display: flex; /* Optional: if you want to arrange content inside the body */
    align-items: center; /* Optional: centers content vertically */
    justify-content: center; /* Optional: centers content horizontally */
}
